@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
.home{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    z-index: 10;
    font-family: 'Mulish', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.homes{
    width: 80vw;
    height: auto ;
    margin: auto;
    padding: 5rem 0;
    padding-bottom: 0;
    place-items: center;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.bg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
}
.bg img{
    width: 70%;
    height: 70%;
}
.home-container{
    display: flex;
    width: auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    margin-top: 0rem;
}
.home-container h1{
    font-size: 5rem;
    color: #fff;
    text-shadow: 0 2rem 0 0 rgba(0,0,0,0.7);
    font-weight: 600;
    margin-bottom: 1rem;
}
.home-container h2{
    font-size: 3rem;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 2rem 0 0 rgba(0,0,0,0.7);
    font-family: 'Raleway', sans-serif;
}
.home-container button{
    padding: 1.5rem;
    margin-top: 2rem;
    border-radius: 5rem;
    border: transparent;
    font-weight: 500;
    background-color: #0E49B5;
    color: #fff;
    font-size: 1.8rem;
    transition: 0.3s all ease;
}
.home-container button:hover{
    background-color: rgb(243, 29, 72);
}
@media (max-width:1547px) {
    .homes{
        margin-top: 5rem;
    }
}
@media (max-width:1080px) {
    .homes{
        padding: 5rem 0;
    }
}